<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bukalapak App</ion-title>
    <ion-buttons end>
      <button ion-button icon-right color="dark" outline (click)="onLoadSearch()">
        Cari <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="categories">
    <h3>Categories</h3>
    <ion-scroll padding scrollY="true" style="white-space: nowrap; min-height: 200px; height: 50vw; border: 1px solid black;">
    <ion-grid>
      <ion-row>
         <ion-col *ngFor="let cat of categories" col-12 col-sm-6 col-md-4>
          <div padding style="border: 1px solid red;">
            <a (click)="onLoadSearchByCategory(cat.id,cat.name)" >{{cat.name}}</a>
          </div>
        </ion-col> 
      </ion-row>
    </ion-grid>
    </ion-scroll>
  </div>
  <br>
  <br>
   <div class="random_products">
    <h3>Random Products</h3>

    <ion-slides pager="true" slidesPerView="2" class="rp_slides sm">
      <ion-slide *ngFor="let rp of randomProducts">
        <ion-card>
          <div class="img_container" text-center><img src="{{rp.images[0]}}"></div>
          <ion-card-content>
            <h3>
                {{(rp.name | slice:0:54) + (rp.name.length > 54 ? '...' : '')}}
            </h3> 
            <p>{{rp.price | currency:'IDR':false:'1.0-0'}}</p> 
            <p>{{rp.city}}</p> 
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-slides pager="true" slidesPerView="3" class="rp_slides md">
      <ion-slide *ngFor="let rp of randomProducts">
        <ion-card>
          <div class="img_container" text-center><img src="{{rp.images[0]}}"></div>
          <ion-card-content>
            <h3>
                {{(rp.name | slice:0:54) + (rp.name.length > 54 ? '...' : '')}}
            </h3> 
            <p>{{rp.price | currency:'IDR':false:'1.0-0'}}</p> 
            <p>{{rp.city}}</p> 
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div> 
  

</ion-content>
