page-home {

    .rp_slides{
        &.md{
            @media screen and (max-width: 539px) {
                display: none;
            }
        } 
        &.sm{
            @media screen and (min-width: 540px) {
                display: none;
            }
        }
        border: 1px solid yellow;
        max-height: 450px;
        ion-slide{
            // width: 50% !important;
            border: 1px solid green;
            ion-card{ 
                // border: 1px solid yellow;
                .img_container{
                    border: 1px solid red;
                    height: 200px;
                    position: relative;
                    img{
                        position: absolute;
                        left: 50%; top: 50%;
                        transform: translate(-50%,-50%);
                        // border: 1px solid red;
                    }
                }
            }
        }
    }



}
