<!--
  Generated template for the SearchResultsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search Results</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <h3>{{nameParam}}</h3>




    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let sp of searchProducts" col-6 col-sm-4 col-md-3>
          <ion-card>
            <div class="img_container" text-center><img src="{{sp.images[0]}}"></div>
            <ion-card-content>
              <h3>
                  {{(sp.name | slice:0:54) + (sp.name.length > 54 ? '...' : '')}}
              </h3> 
              <p>{{sp.price | currency:'IDR':false:'1.0-0'}}</p> 
              <p>{{sp.city}}</p> 
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


  </div>

</ion-content>
