<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  <!-- <ion-navbar hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only padding (click)="onLoadSearch()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <!-- <ion-input type="text" placeholder="Cari produk"></ion-input> -->
    <ion-title>Search Products</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="searchByKeywords()" #f="ngForm">
      <ion-item>
        <ion-label>Keywords</ion-label>
        <ion-input type="text" name="keywords" [(ngModel)]="search.keywords" required></ion-input>
      </ion-item>
      <button ion-button type="submit" [disabled]="!f.valid" block>Search</button>
    </form>
</ion-content>
